@import "tailwindcss";

body {
    overflow: hidden;
    cursor: url("/assets/images/svg/dragCursor.svg"), auto;
}

.rocking-hand-shake {
    animation: rockingHandShake 130ms linear infinite;
}

@keyframes rockingHandShake {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    75% {
        transform: translateX(5px) rotate(5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}



@theme inline {
    --background-hero: url("/assets/images/png/hero-bg.png")
}

.bg-hero {
    background-image: var(--background-hero);
}

.bg-full {
    background-size: 100% 100%;
}

/* .auroraFlow-animate {
    animation: auroraFlow 8s linear infinite;
}

.rotate-animation {
    animation: rotate 8s linear infinite;
}

.blobify-animation {
    animation: blobify 8s linear infinite;
} */



@keyframes auroraFlow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(40%);
    }
}

@keyframes rotate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

@keyframes blobify {
    0% {
        /* border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; */
        transform: translateX(0) translateY(0) scale(0.8);
    }

    50% {
        /* border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%; */
        transform: translateX(50px) translateY(50px) scale(1.2);
    }

    100% {
        /* border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; */
        transform: translateX(0) translateY(0) scale(1);
    }

}